body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	overflow-y: hidden;

	div.clear {
		width: 100%;
		height: 1px;
		clear: both;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0;
		}
	}
}