$tile_width: 80px;
$tile_height: 80px;

$controls_margin_left: 30px;
$controls_width: 380px;
$controls_padding: 10px;

$board_colour: #DCEDDA;

$jail_colour: transparent;
$sky_blue_colour: #87CEEB;
$chance_colour: transparent;
$black_colour: #000;
$tax_colour: transparent;
$brown_colour: #8B4513;
$community_chest_colour: transparent;
$go_colour: transparent;
$orange_colour: #FFA500;
$pink_colour: #9932CC;
$free_parking_colour: transparent;
$red_colour: #FF0000;
$yellow_colour: #FFFF00;
$go_to_jail_colour: transparent;
$green_colour: #008000;
$indigo_colour: #0000FF;

$house_colour: green;
$hotel_colour: red;

$chance_background_colour: #FD9B78;
$community_chest_background_colour: #FEF19A;