h2 Current games
if Games != null && Games.length > 0
	ul
		each Game, key in Games
			li
				span
					a(href="/games/#{Game.get('_id').toString()}") #{Game.get('name')}
					&nbsp;&dash; #{Game.get('created_date')}
else
	em No active games