div(ng-controller="game", ng-show="Game.started == true")
	div(ng-show="isItMyTurn()")
		h2 It's your turn!
		form(name="rollDiceForm", ng-submit="rollDice()")
			div.errors(ng-show="errors.rollDice.length")
				ul
					li(ng-repeat="error in errors.rollDice") {{error.msg}}
			div.submit
				button.btn Roll the dice
		ul
			li {{getLastTurn().roll1}}
			li {{getLastTurn().roll2}}
		form(name="endTurnForm", ng-submit="endTurn()")
			div.errors(ng-show="errors.endTurn.length")
				ul
					li(ng-repeat="error in errors.endTurn") {{error.msg}}
			div.submit
				button.btn End turn
	div(ng-show="!isItMyTurn()")
		h2 It's {{getCurrentPlayerFriendlyName()}}'s turn