div(class="games_controls", ng-controller="games")
	div.list
		h2 Current games	
		ul		
			li(ng-repeat="game in games")
				span
					a(href="/#/game/{{game._id}}") {{game.name}}
					&nbsp;&dash; {{game.created_date}}
			li(ng-show="games.length === 0")
				em No active games
			li(ng-show="games === undefined")
				em Loading...
	div.create
		h2 Create new game
		form(name="createGameForm", ng-submit="submit()")
			div.errors(ng-show="errors.length")
				ul
					li(ng-repeat="error in errors") {{error.msg}}
			div.field
				label(for='name') Name
				input#name(ng-model="name")
			div.field
				label(for='num_players') Number of players
				select#num_players(ng-model="num_players")
					option(value="") --Select--
					option(value="2") 2
					option(value="3") 3
					option(value="4") 4
			div.submit
				button.btn(type='submit') Start
