div(ng-controller="game", ng-show="Game.started == true")
	div(ng-show="isItMyTurn()")
		h2 It's your turn!
		form(name="rollDiceForm", ng-submit="rollDice()")
			div.errors(ng-show="errors.length")
				ul
					li(ng-repeat="error in errors") {{error.msg}}
			div.submit
				button.btn(type='rollDice') Roll the dice		
	div(ng-show="!isItMyTurn()")
		h2 It's {{getCurrentPlayerFriendlyName()}}'s turn