div.aside {
	div.logout {
		top: 18px;
		right: 10px;
		position: absolute;
	}

	h1,
	h2 {
		width: auto;
	}

	h1 {
		font-size: 130%;
		margin-top: 0;
	}

	h2 {
		font-size: 120%;
	}

	ul {
		margin-left: 30px;
	}
}