form {
	div.errors {
		margin-bottom: 10px;
		color: red;

		ul {
			list-style-type: none;
		}
	}

	div.field {
		width: 100%;
		margin-bottom: 10px;

		label {
			display: block;
			margin-bottom: 5px;
		}
	}
}