extends layout

block content
	div.main
		div(ui-view="board")
			div.throbber
				img(src="/images/throbber-large.gif")
	div.aside
		div(ui-view="title")
		div(ui-view="auth")
		div(ui-view="game")
		div(ui-view="gamesControls")
		div(ui-view="gameControls")
		