extends layout

block content
	div.main
		div(ui-view="board")
			div.throbber
				img(src="/images/throbber-large.gif")
	div.aside
		div(ui-view="title", ng-animate="'view'")
		div(ui-view="auth", ng-animate="'view'")
		div(ui-view="game", ng-animate="'view'")
		div(ui-view="gamesControls", ng-animate="'view'")
		div(ui-view="gameControls", ng-animate="'view'")
		