doctype 5
html
	head
		title #{title}
		link(rel='stylesheet', href='/css/screen.css')
	body
		block content
		if user
			div.logout
				a(href="/auth/logout") Logout
		else
			div.login
				a(href="/auth/facebook") Login with Facebook
				br
				a(href="/auth/twitter") Login with Twitter
