doctype 5
html(ng-app="MonopolyJs")
	head
		title #{title}
		link(rel='stylesheet', href='/css/screen.css')		
		script(type="text/javascript", src="/js/components/angular/angular.min.js")
		script(type="text/javascript", src="/js/components/angular-ui-router/release/angular-ui-router.min.js")
		script(type="text/javascript", src="/js/components/socket.io-client/dist/socket.io.js")
		script(type="text/javascript", src="/js/app/app.js")
		script(type="text/javascript", src="/js/app/services/socketio.js")
		script(type="text/javascript", src="/js/app/services/games.js")
		script(type="text/javascript", src="/js/app/services/users.js")
		script(type="text/javascript", src="/js/app/services/dice.js")
		script(type="text/javascript", src="/js/app/controllers/board.js")
		script(type="text/javascript", src="/js/app/controllers/info.js")
		script(type="text/javascript", src="/js/app/controllers/games.js")
		script(type="text/javascript", src="/js/app/controllers/game.js")
	body		
		div.container
			block content			
			div.clear